<!DOCTYPE html>
<html lang="en">  
  <head>
    <title>New Zealand</title>
    <script src="js/pouchdb-6.3.4.min.js"></script>
    <script src="js/pouchdb.find.min.js"></script>
    <script src="js/pouchdb.silverlining.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script>
      var db = new PouchDB('locations');
      var url = "https://beficheoulectinclanytowl:fec3f0f9d69d55bb53c924d1ae21ff0b233034f0@8945d084-2dfe-461c-9949-0400c2f828a9-bluemix.cloudant.com"
      var remoteDB = 'locations';
      var remoteDBurl = url + '/' + remoteDB;

      db.replicate.to(remoteDBurl, {
        live: true,
        retry: true
      }).on('denied', function (err) {
        console.log('denied:', err)
      }).on('complete', function (info) {
        console.log('complete:', info)
      }).on('error', function (err) {
        console.log('error:', err)
      });

    </script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <style type="text/css">
      .collection-item.inactive {
        background-color: #ccc;
      }
      .watch{
        background-color: yellow;
      }
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div id="app" class="grey lighten-2">
      <div class="container">       
        <router-view></router-view>
      </div><!-- container -->
    </div><!-- app -->

    <!-- 
      BEGIN TEMPLATES
    -->
    <script type="text/x-template" id="list">
      <div>
        <button v-on:click="geowatch('on')" >Watch</button>
        <button v-on:click="geowatch('off')" >Stop Watching</button>
        {{ watching }}
        <div v-if="loading">
          {{ loading }}
        </div>
        <div>
          <ul class="collection">
            <li class="collection-item">
              <div class="row">
                <div class="col s12 m11">
                  <input type="text" v-model="name" class="col m8" placeholder="e.g., Wellington" />
                  <button v-on:click="insert()" class="btn col m4 s12 waves-effect waves-light">Store location</button>
                </div>
                <div class="col s12 m1">
                  <button v-on:click="bulkDelete()">Bulk delete</button>
                </div>
              </div>
            </li>
            <li v-bind:id="item._id" v-for="item in items" class="collection-item" :class="{'inactive': item._deleted==true}">
              <div class="row" :class="{'watch': item.watch==true}">
                <div class="col s12 m3">
                  <h6 v-if="item.properties.name">{{ item.properties.name }}</h6>
                  {{ item._id }}
                </div>
                <div class="col s12 m8">
                  {{ item.geometry.coordinates }}
                </div>
                <div class="col s12 m1">
                  <button v-on:click="markForDeletion(item)">Delete</button>
                </div>
                <!-- {{ item | json }} -->
              </div><!-- row -->
            </li>
          </ul>
        </div>
      </div>
    </script>

    <!--Import jQuery before materialize.js-->

    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script type="text/javascript" src="js/factories.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>